<!DOCTYPE html>
<html>
<head>
  <title>MASHUP</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
  <header>
    <h1>TAG</h1>
    <h2>Veuillez saisir une url :</h2>
    <input type="url"  id="url" name=""  value=""/>
    <button id="send"> Envoyer </button>
    <button id="show"><<</button>
  </header>
  <div id="toolbar">
    <button>1</button>
    <button>2</button>
    <button>3</button>
    <button>4</button>
    <button>5</button>
  </div>
  <div id="content">
    <img id="siteImg" src=""/>
    <canvas id="canvas"></canvas>
  </div>
  <div id="nav-right" class="show">
    <button id="hide">>></button>
    <ul id="clientList">
      <li>Tom Forlini</li>
      <li>Tom Forlini</li>
      <li>Tom Forlini</li>
      <li>Tom Forlini</li>
      <li>Tom Forlini</li>
    </ul>
  </div>
</body>
<script type="text/javascript" src="javascripts/jquery.min.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="javascripts/paper.js"></script>
<script canvas="canvas" type="text/paperscript">
  /////////////////////////////////////////////////////////////////////
  // Values

  tool.fixedDistance = 10;

  var values = { size: tool.fixedDistance };

  /////////////////////////////////////////////////////////////////////
  // Mouse handling

  var point, path;

  function getPos(pt) {
    return (pt / values.size).round() * values.size;
  }

  function onMouseDown(event) {
    point = getPos(event.point);
    path = new Path();
    path.strokeColor = 'black';
    path.add(point);
  }

  function onMouseDrag(event) {
    var p = getPos(event.point);
    if (point != p) {
      path.add(p);
      point = p;
    }
  }
</script>
<script type="text/javascript">
	/*document.getElementById('send').addEventListener('click',function(){
		console.dir(document.getElementById('siteWeb'));
		document.getElementById('siteWeb').src= document.getElementById('url').value;
	});*/

	$(document).ready(function() {

		var idUser;
		var socket = io.connect();
		
		socket.on('initialize',function(id){
		    console.log(id);
			idUser = id;
		});

		//Evenement
		$('#send').bind('click',function(){
			url = $('#url').val();
			socket.emit('getUrlClient',url);
			$('#siteWeb').attr('src',url);
		});
		
		socket.on('setUrl',function(url){
		    console.log(url);
		$('#siteImg').attr('src',url);
		});
	});

  //nav-right
  $('#hide').bind('click',function(){
    $('#nav-right').removeClass('show');
    $('#nav-right').addClass('hide');
  });
  $('#show').bind('click',function(){
    $('#nav-right').removeClass('hide');
    $('#nav-right').addClass('show');
  }); 
</script>
</html>