/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* CSS START */

body{
	font-family: Verdana, sans-serif;
	color:white;
	background-color: rgba(150, 120, 182,0.7);
	overflow:hidden;
}
header{
	z-index: 10;
	position: fixed;
	background-color: #290C5E;
	width: 100%;
	font-size: 1.2em;
	height: 32px;
	overflow: hidden;
	padding: 0;
}
h1,h2{
	display:inline-block;
	cursor: pointer;
}
h1{
	margin-left: 100px;
	margin-right: 50px;
}
input[type="url"]{
	padding-left:10px;
	height: 30px;
	width: 400px;
	border: 0;
	margin: 0;
	font-size: 1.1em;
	outline: none;
}
button{
	font-size: 0.8em;
	height: 37px;
	width: 75px;
	border: 0;
	padding: 0;
	margin: 0;
	margin-left: -6px;
}
button:hover{
	background-color: #8A2BE2;
}

#nav-right{
	z-index: 11;
	position: fixed;
	background-color: #290C5E;
    bottom: 0px;
    height: 100%;
    width: 200px;
}
#hide{
	height: 32px;
	width: 32px;
}
.hide{
    -webkit-transition: right 1s;
    right: -200px;
}
#show{
	height: 32px;
	width: 32px;
	float: right;
}
.show{
    -webkit-transition: right 1s;
    right: 0px;
}

#clientList li{
	margin: 5px;
	background-color: white;
	color:#290C5E;
	font-weight: bold;
	padding: 5px;
	cursor: pointer;
}
#clientList li:hover{
	background-color: #8A2BE2;
}
#toolbar{
	z-index: 10;
	top:30%;
	position: fixed;
	width: 50px;
	height: 250px;
	background-color: #290C5E;
	opacity: 0.5;
}
#toolbar button{
	width: 40px;
	height: 40px;
	margin: 5px;
}
#content{
	position: relative;
	top:32px;
	text-align:center;
	height: 100%;
}

#website{
	width:100%;
	height:100%;
}

#canvas{
	z-index: 100;
	background-color: grey;
	position: absolute;
	left: 23%;
	opacity: 0.4;
	width: 500px;
}
.hidden{
	display: none;
}
iframe{
	height: 100%;
	width: 100%;
}